.idea
*.iml
*.ipr
*.iws
build/
.gradle/
out/
target/
dist/
node_modules/
local.properties
**/.nb-gradle
**/integration-tests.war

Thumbs.db
.DS_Store
.gradle
build
bin
.classpath
.project
.settings
exploration
*.iml
*.ipr
*.iws
.idea

integration-tests/log.txt
